<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav</title>

    <style>
      header {
        background-color: gray;
        padding-top: 20px;
        text-align: center;
        font-size: larger;
      }
      body {
        margin: 0;
        padding: 0;
      }

      nav {
        background: linear-gradient(to right, #ff0000, #0000ff);
        padding: 20px 30px;
      }
      nav a {
        text-decoration: none;
        color: white;
        margin: 10px;
        display: inline-block; /* Display as block element */
        padding: 8px 16px; /* Add padding for better appearance */
        border: 1px solid white; /* Add a white border around the text */
        border-radius: 5px; /* Optional: Add rounded corners */
      }

      a:hover {
        background-color: aqua;
        cursor: pointer;
      }

      a:hover {
        background-color: linearrgb(53, 58, 58)
          dient(to right, #ff0000, #222294);
        display: inline-table;
        cursor: pointer;
      }
      nav a:visited {
        color: lightgray; /* Change color for visited links */
      }
    </style>
  </head>
  <body>
    <header>Jeevan Tech</header>

    <nav>
      <a href="#">Home</a>
      <a href="#">Find Us</a>
      <a href="#">CALL</a>
      <a href="#">Back</a>
    </nav>
  </body>
</html>
